In [1]:
import pandas as pd

In [6]:
test_data = [
    (104, 'mesost', [(1, 0), (2, 1), (2, 2), (1, 3), (1, 2), (0, 2)]),
    (79, 'jatos', [(0, 0), (1, 1), (0, 2), (1, 3), (2, 2)]),
    (78, 'meso', [(1, 0), (2, 1), (2, 2), (1, 3)]),
    (72, 'amatols', [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3), (0, 3), (1, 2)]),
    (69, 'loiasis', [(0, 3), (1, 3), (2, 3), (3, 3), (2, 2), (3, 1), (3, 0)]),
    (65, 'amatol', [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3), (0, 3)]),
    (63, 'james', [(0, 0), (1, 1), (1, 0), (2, 1), (2, 2)]),
    (60, 'losses', [(0, 3), (1, 3), (1, 2), (2, 2), (2, 1), (3, 0)])]

In [7]:
dataframe = pd.DataFrame(test_data, columns=["score", "word", "path"])

In [12]:
dataframe.to_csv("test_data_scores.csv", sep=" ")

In [13]:
pd.read_csv("test_data_scores.csv", delim_whitespace=True)

   score     word                                               path
0    104   mesost   [(1, 0), (2, 1), (2, 2), (1, 3), (1, 2), (0, 2)]
1     79    jatos           [(0, 0), (1, 1), (0, 2), (1, 3), (2, 2)]
2     78     meso                   [(1, 0), (2, 1), (2, 2), (1, 3)]
3     72  amatols  [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3), (0, 3...
4     69  loiasis  [(0, 3), (1, 3), (2, 3), (3, 3), (2, 2), (3, 1...
5     65   amatol   [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3), (0, 3)]
6     63    james           [(0, 0), (1, 1), (1, 0), (2, 1), (2, 2)]
7     60   losses   [(0, 3), (1, 3), (1, 2), (2, 2), (2, 1), (3, 0)]