In [42]:
import os
import pandas as pd
import cv2
import lxml.html
import numpy as np

In [7]:
folder = 0
filepath = f"score_prediction/{folder}"

image = cv2.imread(f"{filepath}/sample.png")
paths_df = pd.read_csv(f"{filepath}/paths.csv", delim_whitespace=True)
matrix_df = pd.read_csv(f"{filepath}/matrix.csv", delim_whitespace=True)

In [92]:
paths_df

     score      word                                               path
0      104    mesost   [(1, 0), (2, 1), (2, 2), (1, 3), (1, 2), (0, 2)]
1       79     jatos           [(0, 0), (1, 1), (0, 2), (1, 3), (2, 2)]
2       78      meso                   [(1, 0), (2, 1), (2, 2), (1, 3)]
3       72   amatols  [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3), (0, 3...
4       69   loiasis  [(0, 3), (1, 3), (2, 3), (3, 3), (2, 2), (3, 1...
5       65    amatol   [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3), (0, 3)]
6       63     james           [(0, 0), (1, 1), (1, 0), (2, 1), (2, 2)]
7       60    losses   [(0, 3), (1, 3), (1, 2), (2, 2), (2, 1), (3, 0)]
8       59  asemasia  [(2, 0), (3, 0), (2, 1), (1, 0), (1, 1), (2, 2...
9       59   santols  [(2, 2), (1, 1), (0, 1), (0, 2), (1, 3), (0, 3...
10      58  amasesis  [(2, 0), (1, 0), (1, 1), (1, 2), (2, 1), (2, 2...
11      57     matlo           [(1, 0), (1, 1), (0, 2), (0, 3), (1, 3)]
12      53   semaise  [(3, 0), (2, 1), (1, 0), (2, 0), (3, 1), (2, 2...
13      53   siamese  [(3, 0), (3, 1), (2, 0), (1, 0), (2, 1), (2, 2...
14      53    lotase   [(0, 3), (1, 3), (0, 2), (1, 1), (2, 2), (2, 1)]
15      53     loses           [(0, 3), (1, 3), (2, 2), (2, 1), (3, 0)]
16      52   messias  [(1, 0), (2, 1), (1, 2), (2, 2), (3, 1), (2, 0...
17      52   amasses  [(2, 0), (1, 0), (1, 1), (1, 2), (2, 2), (2, 1...
18      52    sestos   [(3, 0), (2, 1), (1, 2), (0, 2), (1, 3), (2, 2)]
19      52    tosses   [(0, 2), (1, 3), (1, 2), (2, 2), (2, 1), (3, 0)]
20      52    santol   [(2, 2), (1, 1), (0, 1), (0, 2), (1, 3), (0, 3)]
21      50     amato           [(2, 0), (1, 0), (1, 1), (0, 2), (1, 3)]
22      49     manto           [(1, 0), (1, 1), (0, 1), (0, 2), (1, 3)]
23      49     manso           [(1, 0), (1, 1), (0, 1), (1, 2), (1, 3)]
24      47   amasias  [(2, 0), (1, 0), (1, 1), (1, 2), (2, 3), (3, 3...
25      47    seamas   [(3, 0), (2, 1), (2, 0), (1, 0), (1, 1), (2, 2)]
26      46    masses   [(1, 0), (1, 1), (1, 2), (2, 2), (2, 1), (3, 0)]
27      46     loise           [(0, 3), (1, 3), (2, 3), (2, 2), (2, 1)]
28      45    atossa   [(1, 1), (0, 2), (1, 3), (1, 2), (2, 2), (3, 3)]
29      45     isolt           [(3, 1), (2, 2), (1, 3), (0, 3), (0, 2)]
..     ...       ...                                                ...
424      7       tsi                           [(0, 2), (1, 2), (2, 3)]
425      7       sna                           [(1, 2), (0, 1), (1, 1)]
426      7       sta                           [(1, 2), (0, 2), (1, 1)]
427      7        sl                                   [(1, 2), (0, 3)]
428      7        lt                                   [(0, 3), (0, 2)]
429      7        ls                                   [(0, 3), (1, 2)]
430      7       isn                           [(2, 3), (1, 2), (0, 1)]
431      7       ist                           [(2, 3), (1, 2), (0, 2)]
432      6        aa                                   [(2, 0), (1, 1)]
433      6        ae                                   [(2, 0), (2, 1)]
434      6        ai                                   [(2, 0), (3, 1)]
435      6       nts                           [(0, 1), (0, 2), (1, 2)]
436      6       nst                           [(0, 1), (1, 2), (0, 2)]
437      6        ea                                   [(2, 1), (1, 1)]
438      6        ei                                   [(2, 1), (3, 1)]
439      6        ee                                   [(2, 1), (3, 2)]
440      6        ia                                   [(3, 1), (2, 0)]
441      6        ie                                   [(3, 1), (2, 1)]
442      6       stn                           [(1, 2), (0, 2), (0, 1)]
443      6        ss                                   [(1, 2), (2, 2)]
444      5        na                                   [(0, 1), (1, 1)]
445      5        an                                   [(1, 1), (0, 1)]
446      5        at                                   [(1, 1), (0, 2)]
447      5        ta                                   [(0, 2), (1, 1)]
448      4        nt                                   [(0, 1), (0, 2)]
449      4        ns                                   [(0, 1), (1, 2)]
450      4        tn                                   [(0, 2), (0, 1)]
451      4        ts                                   [(0, 2), (1, 2)]
452      4        sn                                   [(1, 2), (0, 1)]
453      4        st                                   [(1, 2), (0, 2)]

[454 rows x 3 columns]

In [93]:
selected_paths = {}
for i, row in paths_df.iterrows():
    word = row['word']
    path = eval(row['path'])
    score = row['score']
    
    selected_paths[word] = path

In [103]:
# open as html
with open(f"{filepath}/results.html", "r") as f:
    results_html_string = f.read()
    results_html = lxml.html.fromstring(results_html_string)
    
# fetch scores
scores = {}
score_list = []
rows = results_html.cssselect("div.points-result")[0]
for row in rows:
    word = row.cssselect("div.word")[0].text_content()
    points = int(row.cssselect("div.points")[0].cssselect("div.left")[0].text_content())
    score_list.append((word, points))
    scores[word] = points

In [87]:
score_df = pd.DataFrame(score_list, columns=["word", "points"])
score_df.to_csv(f"{filepath}/actual_scores.csv", sep=" ")

In [79]:
class Cell:
    def __init__(self):
        self.value = 0
        self.char = ""
        self.bonus = ""
    
    def __str__(self):
        return f"{self.bonus} {self.char} {self.value}"
    
    def __repr__(self):
        return self.__str__()

In [81]:
def construct_matrix(matrix_df):
    cells = [Cell() for _ in range(16)]
    cells = np.array(cells).reshape((4, 4))
    
    for i, row in matrix_df.iterrows():
        index = row['index']
        index = eval(index)
        
        char = row['character']
        value = row['value']
        bonus = row['bonus']
        
        cell = cells[index]
        cell.char = char
        cell.value = value
        cell.bonus = bonus
    
    return cells

In [82]:
matrix = construct_matrix(matrix_df)

In [95]:
def get_dictionary_fix(scores, selected_paths):
    invalid_words = []
    missed_words = []

    for word in scores:
        if word not in selected_paths:
            missed_words.append(word)
            
    for word in selected_paths:
        # then word is invalid
        if word not in scores:
            invalid_words.append(word)
            continue
    
    return invalid_words, missed_words

In [99]:
def predict_scores(calculator):
    predicted_scores = {}

    for word, path in selected_paths.items():
        # then word is invalid
        if word not in scores:
            continue

        # if valid word then compute
        # take in the path, matrix
        score = calculator(path, matrix)
        predicted_scores[word] = score
    
    return predicted_scores

In [100]:
def sze_calculator(path, matrix):
    word_multipliers = 1
    
    product_sum = 0 # letter value * letter multiplier
    
    constant = 0
    
    for index in path:
        cell = matrix[index]
        bonus = cell.bonus
        if bonus == '3W':
            word_multipliers *= 3
        elif bonus == '2W':
            word_multipliers *= 2
        
        value = cell.value
        
        if bonus == '2L':
            product_sum += value * 2
        elif bonus == '3L':
            product_sum += value * 3
        else:
            product_sum += value
            
    return (product_sum * word_multipliers) + constant

In [106]:
def extract_metadata(path):
    values = []
    bonuses = []
    
    for index in path:
        cell = matrix[index]
        values.append(cell.value)
        bonuses.append(cell.bonus)
    
    return values, bonuses

In [104]:
predicted_scores = predict_scores(sze_calculator)
comparison_data = []
for word in predicted_scores:
    target_score = scores[word]
    predicted_score = predicted_scores[word]
    error = target_score-predicted_score
    comparison_data.append((word, target_score, predicted_score, error))
    
    values, 
    
headers = ["word", "target", "predicted", "error"]

df = pd.DataFrame(comparison_data, columns=headers)

In [105]:
df.to_csv(f"{filepath}/sze_calculator_predictions.csv", sep=" ")

        word  target  predicted  error
0      jatos      81         72      9
1    amatols      74         72      2
2     amatol      65         66     -1
3      james      65         56      9
4     losses      59         72    -13
5    santols      62         60      2
6      matlo      57         60     -3
7    siamese      54         48      6
8      loses      51         66    -15
9    messias      54         48      6
10   amasses      54         48      6
11    tosses      53         54     -1
12    santol      53         54     -1
13     manto      51         42      9
14    masses      47         44      3
15     lotas      45         48     -3
16    santos      47         36     11
17     samas      41         40      1
18    seaman      43         32     11
19    manses      43         32     11
20    messan      43         32     11
21      jato      39         33      6
22    jasies      39         32      7
23     toise      39         30      9
24      lose      36         42     -6
25      oses      36         42     -6
26     ossia      39         30      9
27     iotas      39         30      9
28     assot      39         30      9
29     santo      39         30      9
..       ...     ...        ...    ...
164      sat      10          6      4
165       io       9          6      3
166     nats      10          4      6
167     ants      10          4      6
168     tans      10          4      6
169       to       9          6      3
170       as       6          5      1
171       si       6          5      1
172      nae       7          3      4
173      ean       7          3      4
174      eat       7          3      4
175       es       6          5      1
176       is       6          5      1
177      tae       7          3      4
178      nat       7          3      4
179      ant       7          3      4
180      ans       7          3      4
181      ats       7          3      4
182      est       7          3      4
183      tan       7          3      4
184       aa       5          2      3
185       ae       5          2      3
186       ai       5          2      3
187       ea       5          2      3
188       ee       5          2      3
189       na       5          2      3
190       an       5          2      3
191       at       5          2      3
192       ta       5          2      3
193       st       5          2      3

[194 rows x 4 columns]